<html>
<head>
    <title>{{page.title}}</title>
    <meta charset='utf8' />
</head>


<body>
<h4>转载须知:个人博客随意,记得署名.商用及大中型网站联系我先sodya#qq.com,否则小心"<a href='http://royaso.com/mylists'>上榜</a>"</h4>
<hr />
	<center><a href='/pages/'><h3>加精博文?</h3></a></center>


{{content}}



<hr />

<noscript>Please enable JavaScript to view the comment form powered by <a href="https://commentit.io/">Comm(ent|it)</a></noscript>
<div id="commentit"></div>
<script type="text/javascript">
  /** CONFIGURATION VARIABLES **/
  var commentitUsername = 'royaso';
  var commentitRepo = 'royaso/royaso.github.io';
  var commentitPath = '{{ page.path }}';

  /** DON'T EDIT FOLLOWING LINES **/
  (function() {
      var commentit = document.createElement('script');
      commentit.type = 'text/javascript';
      commentit.async = true;
      commentit.src = 'https://commentit.io/static/embed/dist/commentit.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(commentit);
  })();
</script>



<hr />

{%if page.comments %}
  {% assign sorted_comments = (page.comments | sort: 'date') %}
{% endif %}
{% for c in sorted_comments %}
  <div class="media">
    <div class="media-left">
      <img src="{{ c.author.picture }}" alt="{{ c.author.displayName}}" height="73" width="73">
    </div>
    <div class="media-body">
      <p class="text-muted">
        <a href="{{ c.author.url }}">{{ c.author.displayName }}</a>
        on {{ c.date | date_to_string }}
      </p>
      <p>{{ c.content | newline_to_br }}</p>
    </div>
  </div>
{% else %}
  There are no comments on this post.
{% endfor %}




<div>

<!--
如果本文对您有帮助，微信扫一扫，请我喝杯咖啡吧<br><br>

<img src="/imgs/wxpay.jpg">
-->
</div>
</body>
</html>
